.navBar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all 300ms ease-in-out;
    box-shadow:
  1.9px 5.2px 1.7px rgba(0, 0, 0, 0.044),
  3px 8px 4.1px rgba(0, 0, 0, 0.051),
  3.4px 9.2px 7.8px rgba(0, 0, 0, 0.053),
  4px 10.9px 13.8px rgba(0, 0, 0, 0.05),
  6.1px 16.4px 25.9px rgba(0, 0, 0, 0.046),
  10px 27px 62px rgba(0, 0, 0, 0.04)
}
.navtxt{
    font-weight: 700;
    font-style: bold;
    color: rgb(38, 38, 38);
    
}
.navtxt:hover{
  text-decoration: underline;
  text-decoration-color: #000000;
  text-decoration-thickness: 3px;
}
.page1head{
    font-style: bold;
    font-size: 4rem;
}
.learnMoreLink:hover{

    text-decoration: none;
}
.navGrid{
display: grid;
grid-template-columns: repeat(6,minmax(200px,1fr));
grid-template-areas: "logo navmenu navmenu navmenu spc btn";
}

.navBarLogo{
    width:120px
}

/* .navLogo{
    grid-area: logo;
} */
/* @media(min-width:576px){
    .navLogoMain{
        grid-area: logo;
        display: none;
    }
}
@media(max-width:576px){
    .navLogoGrid{
        grid-area: logo;
        display: none;
    }
} */
.nav-Btn{
    background-color: aliceblue;
    grid-area: btn;
    border-radius: 5px;
    border-color: rgb(0, 42, 255);
    color: rgb(0, 42, 255);
}
.nav-Btn:hover{
    background-color: rgb(0, 42, 255);
    color: aliceblue;
}
.navbarmenu{
    grid-area: navmenu;
}

.featuredProductHeading{
    font-family: "Zilla Slab";
    font-weight: 800;
    height: 80px;
}
.p3head{
    font-size: 55px;
    font-family: "Zilla Slab";
    font-weight: 800;
}
.p1head{
    font-size: 60px;
    font-family: "Montserrat";
    font-weight: 700;
}
.getVpn-Btn{
    padding: 5px 15px;
    font-size: medium;
    font-weight: 700;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
}
.getVpn-Btn:hover{
    border-color: black;
    background-color: rgb(236, 236, 236);
    color: rgb(20, 20, 20);
}
.relay-Btn{
    padding: 8px 20px;
    font-size: medium;
    font-weight: 700;
    background-color: rgb(0, 78, 248);
    color: aliceblue;
    border-radius: 5px;
    border-style: none ;
}
.relay-Btn:hover{
    background-color: rgb(0, 67, 210);
    color: rgb(233, 235, 237);
}
.spc{      
    height: 20px;
}
@media(max-width:576px){
    .p3head{
        font-size: 35px;
    }
    .p1head{
        font-size: 40px;
    }
    .page1TopMargin{
        margin-top: 40px;
    }
        
    
}
@media(min-width:576px){
    .spc{      
        display: none;
    }
    .page-7-link{
        margin-left:312px ;
    }
    .p1head{
        font-size: 40px;
    }
    .page1TopMargin{
        margin-top: 20px;
    }
      
}
@media(min-width:768px){
    .page-7-link{
        margin-left:-3px ;
    }
    .p1head{
        font-size: 60px;
    }
}
@media(min-width:992px){
    .page-7-link{
        margin-left:-3px ;
    }
}
@media(min-width:1200px){
    .page-7-link{
        margin-left:312px ;
    }
}
.btnsize{
}
.formList{
    list-style: none;
}
.formBtn{
    background-color: rgb(18, 18, 18);
    font-weight: 600;
    color: aliceblue;
}
.formBtn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.p8-background{
    background-color: #20123a;
}
.p8-logo{
    width: 8rem;
}
@media(max-width:576px){
    .p8-logo{
        width: 3rem;
    }
}
.footer-logo{

    width: 9rem;
}
.footerGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(210px,1fr));
    color:aliceblue;
    background-color: #000000;
}
.footerText li{
list-style: none;
}
.firefox-Btn{
    background-color: aliceblue;
    border-radius: 5px;
    border-color: rgb(0, 42, 255);
    color: rgb(0, 42, 255);
}
.firefox-Btn:hover{
    background-color: rgb(0, 42, 255);
    color: aliceblue;
}
.formGrid{
    display: grid;
    grid-template-rows:repeat(8,minmax(30px,1fr)) ;
    gap: 1rem;
}
.formLabel{
    align-self: flex-end;
}
.socialLinks{
    filter: invert(100%);
    width: 22px;
}
.footersocial {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
table {
    border-collapse: separate;
    border-spacing: 2 rem;
}
.socialFlex{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 3rem;
    font-size: 15px;
}
@media(max-width:768px){
    .socialFlex{
        display: grid;
        grid-template-columns: repeat(2,minmax(15rem,1fr));
        gap: 5rem;  
        font-size: 13px;
    }
}
.footerline{
    border-top: 10px;
    border-color: aliceblue;
    font-size:13px;
}
.footer-footerGrid{
    display: grid;
    grid-template-columns: minmax(200px,2fr)  minmax(100px,1fr)  minmax(100px,1fr)  minmax(300px,3fr) minmax(200px,3fr)  6fr 3fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:"txt1 txt2 txt3 txt4 spc1 spc lng"
                        "txt5 txt5 txt5 txt5 txt5 spc lng";
                        color: aliceblue;
}
.a{
    height: 60px;
    width: 100%;
    grid-area: txt1;
    
}
.b{
    height: 60px;
    width: 100%;
    grid-area: txt2;
}
.c{
    height: 60px;
    width: 100%;
    grid-area: txt3;
}
.d{
    height: 60px;
    width: 100%;
    grid-area: txt4;
}
.e{
    height: 60px;
    width: 100%;
    grid-area: txt5;
}
.LanguageSelect{
    font-size: 15px;
    grid-area: lng;
}
/* --------------js-------------- */
.scroll-down header{
    transform: translate3d(0, -100%, 0);
}
.scroll-up header{
}
